body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
}

.heading-primary {
  color: $color-white;
  font-weight: 700;
  font-size: $font-size-h1;
  margin: 4rem 0;

  @include respond(phone) {
  font-size: $font-size-h2;
  text-align: center;
  }
}

.heading-secondary {
  color: $color-white;
  font-weight: 700;
  font-size: $font-size-h2;

  
}

.heading-tertiary {
  color: $color-white;
  font-weight: 700;
  font-size: $font-size-h3;
}