.button {
  width: 15.5rem;
  height: 3.7rem;
  color: $color-white;
  border: 1px solid $color-white;
  margin: 0 1.5rem;
  font-weight: 700;
  position: relative;
  z-index: 100;
  &.primary {
    background: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
    background: $color-white;
    border: 1px solid $color-white;
    color: $color-primary;
    }
  }
  &.transparent {
    &:hover {
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  }
  &.black {
    border: 1px solid $color-black;
    color: $color-black;
    margin-left: 0;
    &:hover {
      background: $color-black;
      color: $color-white;
      }
  }
  &.small {
    width: auto;
    height: auto;
    border-radius: 1rem;
    padding: 0.8rem 2rem;
    font-weight: 700;
    border: none;
    margin: 0 1.5rem 4rem;
    background-color: $color-black;
    display: inline;
    &:hover {
      color: $color-primary;
    }
  }
}