.progress-bar {
  width: 100%;
  height: 2rem;
  background-color: $color-white;
  position: relative;
  z-index: 1;
  margin: 3.5rem 0;
  border-radius: 1rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 2rem;
    background-color: $color-primary;
    border-radius: 1rem;
    z-index: 10;
  }
  &:nth-of-type(1)::before {
    width: 90%;
  }
  &:nth-of-type(2)::before {
    width: 80%;
  }
  &:nth-of-type(3)::before {
    width: 90%;
  }
  &:nth-of-type(4)::before {
    width: 90%;
    margin: 0;
  }
}
