.about {
  &-me {
    max-width: $container-width;
    margin: 0 auto;
    color: $color-black;
    display: flex;
    padding: 12rem 0;

    @include respond(tab-port) {
      flex-direction: column;
    }

    &__img {
      width: auto;
      max-height: 100%;
      object-fit: cover;
      @include respond(tab-port) {
        max-width: 90%;
        height: auto;
        margin: 0 auto 3rem;
      }
    }

    &__container {
      padding-left: 3.4rem;
      @include respond(tab-port) {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    & h3 {
      margin: 2.5rem 0;
    }
    & .sns {
      margin-top: 4rem;
    }
    & p {
      line-height: 2;
      color: $color-grey-dark-1;
      @include respond(tab-port) {
        max-width: 60rem;
      }
    }
    & a {
      color: $color-black;
    }
  }

  &-skill {
    background: linear-gradient(
        rgba($color-secondary, 0.9),
        rgba($color-secondary, 0.9)
      ),
      url(../img/about-bg.jpg);
    @include bgSetting;
    @include mainClipPath;
    padding: 12rem 0;
    &__container {
      max-width: $container-width;
      margin: 0 auto;
      display: flex;
      @include respond(tab-land) {
        justify-content: space-evenly;
      }
      @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
      }
    }
    &__wrapper {
      width: 36rem;
      @include respond(tab-land) {
        width: 30%;
        &:last-child {
          margin-right: 1rem;
        }
      }
      @include respond(tab-port) {
        width: 80%;
        max-width: 60rem;
      }
      &:not(:last-child) {
        margin-right: 3rem;
        margin-bottom: 0;
        @include respond(tab-port) {
          margin: 0 0 3rem;
        }
      }
    }
    & h2 {
      margin-bottom: 4.5rem;
      position: relative;
      z-index: 1;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
      }
      &::before {
        width: 20rem;
        height: 5px;
        background: $color-primary;
        z-index: 100;
      }

      &::after {
        width: 100%;
        height: 2px;
        background: $color-white;
        z-index: 90;
      }
    }
    & h3:not(:first-child) {
      margin-top: 3.5rem;
    }
    & p {
      color: $color-grey-light-2;
      margin-top: 1.7rem;
    }
  }
}
