.blog {
  width: 100%;
  padding: 12rem 0;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
  }
  &__posts {
    display: flex;
    justify-content: space-around;
    @include respond(tab-land) {
      flex-wrap: wrap;
      margin: 0 3rem;
    }
  }
  &__post {
    max-width: 36rem;
    max-height: 52.5rem;
    border: 1px solid $color-grey-light-2;
    &:not(:last-child) {
      margin-right: 3rem;
      @include respond(tab-land) {
        margin-right: 0;
      }
    }

    @include respond(tab-land) {
      max-width: 40%;

      &:first-child {
        max-width: calc(100% - 9rem);
        display: flex;
        margin-bottom: 3rem;
      }
    }
    @include respond(tab-port) {
      max-height: 26.5rem;
      text-overflow: ellipsis;
      max-width: 100%;
      display: flex;
      margin-bottom: 3rem;
      // white-space: nowrap;
      overflow: hidden;
      &:first-child {
        max-width: 100%;
      }
    }
    @include respond(phone) {
      display: block;
      max-height: 52.5rem;
      &:first-child {
      display: block;
      }
    }
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include respond(tab-port) {
      max-height: 26.5rem;
      max-width: 40%;
    }
    @include respond(phone) {
      max-width: 100%;

    }
  }

  & h2 {
    margin-bottom: 5rem;
    text-align: center;
  }
  & h3 {
    margin: 2.8rem 0 1.5rem 2rem;
  }
  & small {
    display: block;
    margin: 0 0 3.5rem 2rem;
    & a {
      color: $color-primary;
    }
  }
  & p {
    margin: 0 2rem 3rem 2rem;
    line-height: 2;
  }
}
