.contact {
  width: 100%;
  padding: 12rem 0;
  background: linear-gradient(
      rgba($color-quaternary, 0.85),
      rgba($color-quaternary, 0.85)
    ),
    url(../img/contact-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    max-width: $container-width;
    text-align: center;
    margin: 0 auto;
  }

  & h2 {
    margin-bottom: 6rem;
  }
  &__info {
    display: flex;
    justify-content: space-around;
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-box {
      color: $color-white;
      margin: 0 3rem 6rem;
      width: 33.3%;
      @include respond(phone) {
        width: 90%;
      }
      & p {
        color: $color-grey-light-2;
      }
      & i {
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
  &__form {
    margin: 0 3rem;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__input,
  &__textarea {
    color: $color-white;
    &:focus {
      outline: solid $color-primary;
    }
  }
  &__input {
    padding: 1.5rem 2rem;
    width: 50%;
    border: 1px solid $color-grey-light-2;
    &:first-child {
      margin-right: 3rem;
      @include respond(phone) {
        margin-right: 0;
        margin-bottom: 4rem;
      }
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  &__textarea {
    margin: 4rem 0;
    border: 1px solid $color-grey-light-2;
    width: 100%;
    min-height: 28rem;
  }
}
