.header {
  max-width: $container-width;
  margin: 0 auto;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-weight: bold;
    color: $color-grey-light-1;
    padding-top: 3rem;
    margin: 0 3rem;
  }
  &__nav {
    &-list {
      display: flex;
      margin: 0 3rem;
    }
    &-item {
      padding-top: 3rem;
    }
    &-link {
      padding: 0.5rem 1.5rem;
    }
  }
}
