.header {
  width: 100%;
  height: 10rem;
  padding: 3rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    @include respond(tab-port) {
      height: auto;
    }
  }
  &__logo {
    font-weight: bold;
    color: $color-grey-light-1;
    margin: 0 3rem;
    @include respond(tab-port) {
      margin: 2rem 3rem;
    }
  }
  &__nav {
    height: 7rem;
    transition: transform 0.3s, visibility 0.3s 0.1s;
    @include respond(tab-port) {
      &.hide {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
      }

      // モバイルメニューactiveのとき
      &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);  
        height: 100vh;
        padding: 10rem 0;
        width: 100%;
        position: absolute;
        top: -3rem;
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
    &-list {
      display: flex;
      margin: 0 3rem;
      @include respond(tab-port) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &-item {
      padding-top: 3rem;
      transition: color 0.3s;
      &:hover {
        & a {
          color: $color-primary;
        }
      }
    }
    &-link {
      padding: 0.5rem 1.5rem;
      transition: color 0.3s;
    }
  }
}
