.header {
  width: 100%;
  height: 10rem;
  line-height: 6rem;
  padding: 3rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  transition: all 0.3s;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
  }
  &__logo {
    font-weight: bold;
    font-size: 2rem;
    color: $color-grey-light-1;
    margin: 0 3rem;
    @include respond(tab-port) {
      margin: 2rem 3rem;
    }
  }
  &__nav {
    transition: transform 0.3s, visibility 0.3s 0.1s;
    @include respond(tab-port) {
      &.hide {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
      }

      // モバイルメニューactiveのとき
      &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        height: 100vh;
        padding: 10rem 0;
        width: 100%;
        position: absolute;
        top: -3rem;
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
    &-list {
      display: flex;
      align-content: center;
      margin: 0 3rem;
      @include respond(tab-port) {
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    &-item {
      transition: color 0.3s;
      &:hover {
        & a {
          color: $color-primary;
        }
      }
    }
    &-link {

      height: 100%;
      display: inline-block;
      padding: 0 1.5rem;
      transition: color 0.3s;
      font-size: 1.8rem;
    }
  }
// hero過ぎたらbgつける
  &-bg {
    background-color: rgba($color-black, 0.6);
    height: 6rem;
    line-height: 6rem;

    & &__container {
    height: 6rem;

    }
  }
}
