.portfolio {
  width: 100%;
  background: linear-gradient(
      rgba($color-tertiary, 0.7),
      rgba($color-tertiary, 0.7)
    ),
    url(../img/portfolio-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 12rem 0;
  }
  &__images {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 26rem);
    grid-template-rows: repeat(3, 20rem);
    justify-content: center;
    row-gap: 3rem;
    column-gap: 3rem;

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 30%);
      grid-template-rows: repeat(4, 20rem);
    }
    @include respond(tab-port) {
      grid-template-columns: repeat(2, 26rem);
      grid-template-rows: repeat(6, 20rem);
    }
    @include respond(phone) {
      display: block;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-right: 2px solid $color-white;
    border-left: 2px solid $color-white;
    &:nth-of-type(1) {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }
    &:nth-of-type(2) {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      @include respond(tab-land) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
      @include respond(tab-port) {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
      }
    }
    &:nth-of-type(3) {
      grid-row: 2 / -1;
      grid-column: 1 / span 2;
      @include respond(tab-land) {
        grid-row: 3 / span 2;
        grid-column: 1 / span 2;
      }
      @include respond(tab-port) {
        grid-row: 2 / span 2;
        grid-column: 1 / span 2;
      }
    }
    &:nth-of-type(4) {
      grid-row: 1 / span 2;
      grid-column: 3 / -1;
      @include respond(tab-land) {
        grid-row: 1 / span 2;
        grid-column: 2 / span 2;
      }
      @include respond(tab-port) {
        grid-row: 5 / span 2;
        grid-column: 1 / span 2;
      }
    }
    &:nth-of-type(5) {
      grid-row: 3 / span 1;
      grid-column: 3 / span 1;

      @include respond(tab-port) {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
      }
    }
    &:nth-of-type(6) {
      grid-row: 3 / span 1;
      grid-column: 4 / span 1;
      @include respond(tab-land) {
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
      }
      @include respond(tab-port) {
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
      }
    }
    @include respond(phone) {
      margin: 2rem;
      width: 90%;
    }
  }

  & h2 {
    margin-bottom: 6rem;
  }
}
