.testimonials {
  padding: 12rem 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/testimonials-bg.jpg);

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    text-align: center;
  }

  & h2 {
    margin-bottom: 2rem;
  }

  & i {
    color: $color-white;
    display: block;
    font-size: $font-size-h2;
    margin-bottom: 6rem;
  }
  &__image {
    border-radius: 50%;
    margin-bottom: 3.5rem;
  }
  &__name {
    color: $color-primary;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  &__p {
    color: $color-grey-light-2;
    line-height: 2;
    &:nth-of-type(2) {
      margin-bottom: 3.5rem;
    }
    &:last-child {
      margin-bottom: 3rem;
    }
  }
}
